<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
   <appSettings>
    <add key="asym_pwd" value="SystexP@ssw0rd"/>
    <add key="Excel2010ConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Extended Properties=&quot;Excel 12.0 XML;HDR=YES;IMEX=1&quot;;"/>
    <add key="ExcelConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Extended Properties='EXCEL 8.0;HDR=YES;IMEX=1';"/>
    <add key="SBPClientPathFile" value="c:\SBPClient\SBPClient.exe"/>
    <add key="Interval" value="10"/>
    <add key="cmd_ftp_type" value="ftp.exe "/>
	<add key="HttpSelfHostUrl" value="http://localhost:8081"/>
    <add key="webapidir" value="SBP/api/run_batch_job"/>
    <add key="webapi_enable" value="0"/>
    <add key="ca" value=""/>
    <add key="batch_log" value="" />
	<add key="ini" value="F:\文件\TEC\TEC\YTBTools_32\YTBFileTransferServices.ini"/>	
    <add key="ldapString" value="" />
    <add key="ldapport" value="" />
    <add key="search_base" value="" />
    <add key="ldapUserId" value="" />
    <add key="ldapuserPwd" value="" />
    <add key="appName" value="local" />
    <add key="chunkIndex" value="1" />
	<add key="PerfMonitor" value="Y" /><!--有值表示啟用效能監控-->
	<add key="EncryptMethod" value="" />
    <add key="EncryptKey" value="" />
    <add key="EncryptSBPConnectionString" value="ofuWV5N365s49+YkRrpWa5d/ED18SKB/uF3QDqbNTmUgliprZPkqqe5HAyG3HRUmrX1xlMpbDmZMaW2CLO8yHQovmfadewXaJW8IZeRuhR3ubY4t/cS9KmEEqDk0Nvuz6YSvm38bpr7dUxwhVsJisW5xMyLYrEjLs0lXJF0vpNWWmkIzNP1ki9scVgc+MYExhBKRHMEFYOM9Rvbw54w8aErCV7jbiyiLwByqHCAfWSO9KZEgX9CWGhHK4fZfKAgE" />
    <!--string ldapString,int ldapport ,string  search_base, string ldapUserId, string userPwd,string appName,int chunkIndex -->
  </appSettings>
  <connectionStrings>
  <!--<add name="SBPEntities" connectionString="metadata=res://*/SBPModel.csdl|res://*/SBPModel.ssdl|res://*/SBPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=F25B-SCHEDULE;Initial Catalog=ESOAF_BATCH;persist security info=True;User ID=esoaf_sql_user;Password=sql@f25b;Connection Timeout=60;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" /> -->
  <add name="SBPEntities" connectionString="metadata=res://*/SBPModel.csdl|res://*/SBPModel.ssdl|res://*/SBPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=SBP;persist security info=True;User ID=sbp_batch_user;Password=sbp_batch_user;Connection Timeout=120;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="SBPEntities" connectionString="metadata=res://*/SBPModel.csdl|res://*/SBPModel.ssdl|res://*/SBPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=SBP_DB;persist security info=True;User ID=sbp_user;Password=p@ssw0rd;Connection Timeout=120;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
	<!--   <add name="SBPEntities" connectionString="metadata=res://*/SBPModel.csdl|res://*/SBPModel.ssdl|res://*/SBPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.37.172,2383;initial catalog=SBP;persist security info=True;user id=esoaf_batch_user;password=p@ssw0rd;Connection Timeout=120;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/> -->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>